<h1>
    Sign In
</h1>
<form action="/users/createSession" method="POST">

<input type="email"  placeholder="email" name="email" required>

<input type="text" placeholder="password" name="password" required>

<input type="submit" value="Sign In">
</form>